{% load i18n static  %}

{% block content %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Junction Dental Clinic - We Are Best Dental Service</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" sizes="76x76"  href="{% static 'icon/Junction_Dental.png '%}" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

  <!-- 
    - google font link
  -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

{% block body %}
<body id="top">
                 {% include 'clinic/messages.html' %}
        {% endblock %}
        {% block footer_extra %}{% endblock %}
  <!-- - #HEADER-->

  <header class="header">
    <div class="header-top">
      <div class="container">
        <ul class="contact-list">
          <li class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>
            <a href="mailto:info@example.com" class="contact-link">junction@gmail.com</a>
          </li>

          <li class="contact-item">
            <ion-icon name="call-outline"></ion-icon>

            <a href="tel:+254708534184" class="contact-link">+254-708-534-184</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

    <div class="header-bottom" data-header>
      <div class="container">

        <a href="#" class="logo">Junction Dental .</a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li>
              <a href="#service" class="navbar-link" data-nav-link>Services</a>
            </li>

            <li>
              <a href="#about" class="navbar-link" data-nav-link>Our Clinic</a>
            </li>

            <li>
              <a href="#blog" class="navbar-link" data-nav-link>Before & After</a>
            </li>

            <li>
              <a href="#" class="navbar-link" data-nav-link>Contact</a>
            </li>
          </ul>
        </nav>
        <a  href="{% url 'appointment' %}" class="btn">Book Now</a>
        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
        <ion-icon name="close-outline" aria-hidden="true" class="close-icon"></ion-icon>
      </button>
      </div>
    </div>
  </header>
  <main>
    <article>
      <!-- - #HERO-->
      <section class="section hero" id="home"
               style="background-image: url('{% static 'images/hero-bg.png'%}')"
        aria-label="hero">
        <div class="container">

          <div class="hero-content">
            <p  class="section-subtitle">Welcome</p>
            <h1 class="h1 hero-title">Your smile is our priority</h1>
              <button type="submit" class="btn"><a href="{% url 'appointment' %}">Book Appointment</a></button>

          </div>

          <figure class="hero-banner">
            <img src="{% static 'images/hero-banner.png'%}" width="587" height="950" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>
      <!-- - #SERVICE-->
       {% include 'clinic/services.html' %}
      <!--  - #ABOUT-->
      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner" style=" background-color:rgba(0,0,0,0.1);border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:20px 20px 80px 20px rgba(0,0,0,0.1);">

            <img src="{% static 'images/doctor-1.png'%}" width="470" height="538" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">We Care For Your Dental Health</h2>

            <p class="section-text section-text-1">
              Aliquam ac sem et diam iaculis efficitur. Morbi in enim odio. Nullam quis volutpat est, sed dapibus
              sapien. Cras
              condimentum eu velit id tempor. Curabitur purus sapien, cursus sed nisl tristique, commodo vehicula arcu.
            </p>

            <p class="section-text">
              Aliquam erat volutpat. Aliquam enim massa, sagittis blandit ex mattis, ultricies posuere sapien. Morbi a
              dignissim enim.
              Fusce elementum, augue in elementum porta, sapien nunc volutpat ex, a accumsan nunc lectus eu lectus.
            </p>

            <a href="#" class="btn">Read more</a>

          </div>

        </div>
      </section>
      <!--  - #DOCTOR-->
      <section class="section doctor" aria-label="doctor">
        <div class="container">

          <p class="section-subtitle text-center">Your Doc</p>

          <h2 class="h2 section-title text-center">Best Expert Dentist</h2>

          <ul class="has-scrollbar">

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">

                  <img src="{% static 'images/doctor-3.png'%}" width="460" height="500" loading="lazy" alt="Howard Holmes"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Dr Nicodemus</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">

                  <img src="{% static 'images/doctor-2.png'%}" width="460" height="500" loading="lazy" alt="Ella Thompson"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Ella Thompson</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="{% static 'images/doctor-1.png'%}" width="460" height="500" loading="lazy" alt="Vincent Cooper"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Vincent Cooper</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="{% static 'images/doctor-4.png'%}" width="460" height="500" loading="lazy" alt="Danielle Bryant"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Danielle Bryant</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

          </ul>

        </div>
      </section>
      <!-- - #CTA-->
      <section class="section cta" aria-label="cta">
        <div class="container">

          <figure class="cta-banner">
            <img src="{% static 'images/cta-banner.png'%}" width="1076" height="1076" loading="lazy" alt="cta banner"
              class="w-100">
          </figure>

          <div class="cta-content">

            <p class="section-subtitle">Book Dental Appointment</p>

            <h2 class="h2 section-title">We Are open And Welcoming You .<br>Visit Us Today</h2>

            <a href="{% url 'appointment' %}" class="btn">Book appointment</a>

          </div>

        </div>
      </section>
      <!--  - #BLOG-->
      {% include 'clinic/blog.html' %}
    </article>
  </main>
                 <!-- - #FOOTER-->
 {% include 'clinic/footer.html' %}
  <!-- - #BACK TO TOP-->
  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
  </a>
  <!-- - custom js link-->
      <script src="{% static 'assets/js/script.js' %}" defer></script>
  <!-- - ionicon link-->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

{% endblock content %}