
{% load i18n static  %}
{% block content %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Junction Dental Clinic - We Are Best Dental Service</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" sizes="76x76"  href="{% static 'icon/Junction_Dental.png'%}" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'clinic/css/style.css'%}">


  <!-- 
    - google font link
  -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

                 {% include 'clinic/includes/navbar.html' %}

{% block body %}
<body id="top">
                 {% include 'clinic/includes/messages.html' %}
        {% endblock %}
        {% block footer_extra %}{% endblock %}
  <!-- - #HEADER-->


  <main>
    <article>
      <!-- - #HERO-->
    {% include 'clinic/includes/hero.html' %}
      <!-- - #SERVICE-->
       {% include 'clinic/includes/services.html' %}
      <!--  - #ABOUT-->
     {% include 'clinic/includes/about.html' %}
      <!--  - #DOCTOR-->
      {% include 'clinic/includes/doctors.html' %}
      <!-- - #CTA-->
      <section class="section cta" aria-label="cta">
        <div class="container">

          <figure class="cta-banner">
            <img src="{% static 'clinic/images/cta-banner.png'%}" width="1076" height="1076" loading="lazy" alt="cta banner"
              class="w-100">
          </figure>

          <div class="cta-content">

            <p class="section-subtitle">Membership Plan</p>

            <h2 class="h2 section-title">Make it convenient to get dental  services <br>We Are  Welcoming You </h2>

            <a href="{% url 'register' %}" class="btn">Join Now</a>

          </div>

        </div>
      </section>
      <!--  - #BLOG-->
      {% include 'clinic/includes/blog.html' %}
    </article>
  </main>
                 <!-- - #FOOTER-->
 {% include 'clinic/includes/footer.html' %}
  <!-- - #BACK TO TOP-->
  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
  </a>
          {% include 'clinic/includes/scripts.html' %}

  </body>
</html>

{% endblock content %}