{% extends 'user_profile/base.html' %}
{% block content %}
{% load static %}
<div class="container-xxl py-10">
    <div class="container">
    <div class="row">
        {% include 'clinic/includes/messages.html' %}
<img src="{{user.profile_photo.url}}" alt="{{user.first_name}}">

        <br>
{{user.first_name}}
        <br>
    {{user.last_name}}
        <br>
       {{user.email}}
<br>
    {{user.username}}
        <br>
        {{user.gender}}
        <br>
      {{ user.is_Member_Patient}}
<br>
        {{user.mobile_number}}
        <br>
{{user.patient_type}}
        <br>
        {{user.date_joined}}
        <br>
        {{user.member_code}}
        <br>

{% for i in Appointee %}
{{ i.appointment_number}}
 {% endfor %}

        <button class="card-action-btn" ><a href="{% url 'logout' %}" >Logout</a>
        </button>

</div>
    </div>
</div>
{% endblock %}