{% extends "user_profile/base.html" %}
{% block content %}
{%load static%}
 <div class="container">
                 {% for message in messages %}
                       <div    class="alert alert-{{ message.tags }} alert-dismissible fade show bty bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mt-2"
      style="z-index:10px;backdrop-filter:blur(10px);margin:5%;border-radius:10px;border:2px solid rgba(255,255,255,0.2); width:80%; background-color:none"  role="alert">
                  <div style="display:flex;flex-direction:row;height:100%;">
                     <div style="margin-left: -10%;width:90%;" class="flex">
            <p style="font-family:Comic Sans Mn;font-weight:bold;margin-top:10px;color:green" class="text-sm block sm:inline">{{ message }}</p>
        </div>
                      </div>

     <button  style="margin-right:-10vw;width:100%;border:none;background-color:#ffffff00;margin-top:1vh;" type="button" class="bty ">
                    <a style="color:red;" href="/transactions/report"><i class="fas fa-times"> </i> </a> </button>
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

</div>
          {% endfor %}
               <div class="row align-items-center">
                  <div class="home-text">
                  <div style="display:flex;display-direction:row;">
</div>
                       <div style="margin-top:10vh;" class="  form-container hero-form-wrapper">
                <form method="post" action="{% url 'user_profile_update' %}" role="form">
                  {% csrf_token %}
                     <div class="form-group">

           <div class="row g-3 ">
                  {% for fields in form %}
                    <div class="mb-3">
                      {{fields}}
                    </div>
                    <small>{{ fields.errors }}</small>
                  {% endfor %}
             <center  style="display:flex;flex-direction:row;padding:10px;margin:10px;">
                        <div style="margin-top:26px;width:80%; border-radius:10px; "  class="btn">
                         <a style=" color:red;" href="{% url 'logout' %}" > Log out</a>
                   </div>
                    <button style="margin-top:26px; margin-left:10px;width:80%; border-radius:10px; " type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Change</button>
                </center>
           </div></div></form>
              </div>
                        </div>
               </div>
            </div>

     {% endblock %}

