{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Junction Dental - {{user.email}}</title>
  <link rel="shortcut icon" href="{% static 'icon/Junction_Dental.png'%}" type="image/svg+xml">
  <link href="{% static 'user_profile/css/style.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">

<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-1">
        {% block extrastyle %}
  <link rel="stylesheet" href="{% static 'clinic/css/admin.css' %}">
{% endblock %}
        {% block branding %}
        <center>

   <img src="{% static 'icon/Junction_Dental.png' %}" style=" width:100px;height:100px; border-radius:100%;" alt="" class=" brand_img">
      <br>
    <h1  id="head" style="margin-top:5vh;color:#f0f9f8;font-size:100%;font-weight:bold;font-family:Comic Sans Mn;"> <a href="/admin">Junction Dental
        <i class="fa fa-check-circle" style="color: #48dbfb;" aria-hidden="true"></i>
      <h2 style="  margin-left:10px; margin-top:20px; font-size:90%; color:#000;font-weight:bold"> "Your Smile is our priority"</h2>
  </a></h1>
    <button  class="btn ">
        <a href="/"><p>View Site</p> </a></button>
                                     
</center>

        <div class="add-btn timeline-info">
        				
        </div>
{% endblock %}
        <h1 class="display-3 text-white mb-3 animated slideInDown">Generate  Report </h1>
    </div>
</div>
<!-- Page Header End -->

<!-- Appointment Start -->
<div class="container-xxl py-10">
    <div class="container">
    <div class="row">
    <div class="col-sm-20">
    <div class="card card- table">

    <div class="card-body">
        {% include 'clinic/includes/messages.html' %}
    <div class="table-responsive">
         
                <!-- Add content here -->
               

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}
