{% extends 'appointment/userbase.html' %}
{% block content %}



<!-- Appointment Start -->
<div class="container-xxl py-10">
    <div class="container">
    <div class="row">
    <div class="col-sm-20">
    <div class="card card- table">
    <div class="card-body">
  <h4 class="sub-title">Search Appointment </h4>
            <form  method="GET">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Search(By Fullname/Appointment Number)</label>
                    <div class="col-sm-10">
                        <input type="text" id="query" name="query" class="form-control" required="">
                    </div>
                </div>
               
             
                <button type="submit" class="btn btn-primary btn-user btn-block">Search</button>    
                        </form>
                    
                        </div>

        <section class="newsletter" aria-label="newsletter">
        <div class="container">

          <div class="wrapper">
            <h2 class="h2 section-title">Subscribe to Dental Tips</h2>

            <p class="section-text"> Get latest updates and information.We gift you nice tooth paste</p>
          </div>

               <div class="card card-table">
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover table-center mb-0 datatable">
    <thead>
    <tr>
        {% if patient %}
    <th>Appointment Number</th>
    <th>Patient Name</th>
    <th>Date of Appointment</th>
    <th>Time of Appointment</th>
    <th>Creation Date</th>
    <th>Status</th>
    <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
        {% for i in patient %}
    <tr>

    <td>{{i.appointment_number}}</td>
    <td>{{i.fullname}}</td>
    <td>{{i.date_of_appointment}}</td>
    <td>{{i.time_of_appointment}}</td>
    <td>{{i.created_at}}</td>
    {% if i.status == '0' %}
                                                <td>Not Updated Yet</td>
                                                {% else %}
                                                <td>{{ i.status}}</td>{% endif %}
    <td class="text-right">
    <div class="actions">
    <a href="{% url 'patientappointmentdetails' i.id %}">
    <i class="btn btn-primary btn-block">View</i>
    </a>

    </div>
    </td>
    </tr> {% endfor %}

    </tbody>
    </table>
    {% else %}
    {% if query %}
        <p style="font-size: 20px;color: blue;text-align: center;">No records found for: "{{ query }}"</p>

    {% endif %}

    {% endif %}


    </div>
    </div>
    </div>

          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter your email :" aria-label="Enter your email"
              required class="email-field">

            <button type="submit" class="btn btn-secondary">Subscribe</button>
          </form>

        </div>
      </section>
   </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}