<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Junction Dental - {{user.email}}</title>
  <link rel="shortcut icon" href="{% static 'icon/Junction_Dental.png'%}" type="image/svg+xml">
  <link href="{% static 'user_profile/css/style.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">
 <header class="header" data-header>
    {% include 'user_profile/includes/nav bar.html' %}
  </header>
</head>

<body id="top">
<div class="mt-5 pt-4">
  {% include 'clinic/includes/messages.html' %}
    </div>
    <main>
    <article class="article">

    <section class="section hero" aria-label="hero">
        <div class="container">

          <div class="hero-bg" style="background-image: url({% static 'user_profile/images/hero-bg.jpg' %});
  ">
            <div class="hero-content">

              <h1 class="h1 hero-title">
                Junction Dental Clinic <br><span class="span">Wonderful Smile</span> <br>
              </h1>

              <p class="hero-text">
             A Smile is the Best outfit.<br>Our Priority </p>

            </div>
          </div>

          <div class="hero-form-wrapper">
            <div class="form-tab">

              <button class="tab-btn " data-tab-btn><a href="{% url 'user_profile' %}">Services</a></button>
              <button class="tab-btn active"  data-tab-btn><a href="{% url 'user_profile_view' %}">Profile</a></button>
              <button class="tab-btn" data-tab-btn>Shop</button>

            </div>

            <form action="{% url 'user_search_appointment' %}" class="hero-form">
              <div class="input-wrapper">
                <input type="search" name="query" id="query" placeholder="Search your appointment" required
                  style="border-radius:20px;" class="input-field">

              </div>

              <button type="submit" class="btn btn-primary">Search now</button>

            </form>


          </div>

        </div>
      </section>



 {% block content %}
    {% endblock content %}

    </article>
    </main></body>
{% include 'user_profile/includes/scripts.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a class="back-top-btn" href="https://wa.me/254708534184?text=Hello!%20Junction%20Dental%20would%20like%20to%20inquire%20about%20your%20dental%20services.%20Can%20you%20please%20assist%20me?" style="position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:30px;
box-shadow: 2px 2px 3px #999;
z-index:100;" class="float" target="_blank">
<i class="fa fa-whatsapp my-float" style="margin-top:16px;"></i>
</a>
<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>

</html>