{% load static %}

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner" style=" background-color:rgba(0,0,0,0.1);border-radius:40px;backdrop-filter:blur(10px);border:1px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:20px 20px 80px 20px rgba(0,0,0,0.1);">

            <img src="{% static 'clinic/images/doctor-1.png'%}" width="450" height="538" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>






            <h2 class="h2 section-title">We Care For Your Dental Health</h2>

            <p class="section-text section-text-1">
we are happy to welcome you  to our  dental clinic.
              In our facility you will  be thrilled with  our
              services such as: Teeth whitening,
 Root canal  treatment ,  Orthodontic treatment,
Permanent Filling ,Teeth  cleaning,Teeth Extraction
General Consultation ,Teeth Masking ,Teeth Replacement..
          </p>

            <p class="section-text">
Our main branch is located at Eastigh Nairobi nineteenth
street .Our clinic is well-equipped with state of the atr
         medical equipments.   </p>
            <p class="section-text">
            COME ON COME ALL
            </p>
            <a href="#" class="btn">Read more</a>

          </div>

        </div>
      </section>