{% load static %}

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">

            <img src="{% static 'clinic/images/dental-chair.png'%}" width="450" height="538" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle">Dental Studio</p>


            <h2 class="h2 section-title">We Care For Your Dental Health</h2>

            <p class="section-text section-text-1">
At Junction Dental Clinic, we go beyond traditional dental care to offer a truly exceptional experience. Our clinic is equipped with state-of-the-art technology, ensuring precision and comfort in every procedure. From digital X-rays and 3D imaging to painless laser treatments, we leverage the latest advancements in dental innovation to provide the best possible outcomes for our patients.
  We understand that visiting the dentist can sometimes be daunting. That’s why we’ve designed our clinic to be a calming, welcoming space where your comfort is our priority. Our friendly staff takes the time to understand your concerns, explain procedures thoroughly, and ensure you feel confident about your treatment plan.
              Take the first step toward the smile you’ve always wanted. Book your appointment today and let us take care of the rest!"


            </p>
            <a href="#" class="btn">Visit Now</a>

          </div>

        </div>
      </section>