{% load static%}

 <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle text-center">Services For You</p>

          <h2 class="h2 section-title text-center">What We Provide</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static 'icon/service-icon-1.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Root Canal</h3>

                  <p class="card-text">
                    Junction Dental Studio
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-2.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Alignment Teeth</h3>

                  <p class="card-text">
                           Junction Dental Studio
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-3.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Cosmetic Teeth</h3>

                  <p class="card-text">
                          Junction Dental Studio
                  </p>
                </div>

              </div>
            </li>

            <li class="service-banner">
              <figure>

                <img src="{% static 'clinic/images/service-banner.png'%}" width="409" height="467" loading="lazy"
                  alt="service banner" class="w-100">
              </figure>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-4.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Oral Hygiene</h3>

                  <p class="card-text">
                               Junction Dental Studio
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-5.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Live Advisory</h3>

                  <p class="card-text">
                         Junction Dental Studio
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-6.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Cavity Inspection</h3>

                  <p class="card-text">
                           Junction Dental Studio
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
