{% extends 'accounts/base-fullscreen.html' %}
{% load static %}

{% include 'appointment/includes/scripts.html' %}
{% include 'clinic/includes/messages.html' %}
   {% include "accounts/includes/fixed-plugin.html" %}

 {% block navigation %}
          {% include "accounts/includes/navigation.html" %}
        {% endblock navigation %}



{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% include 'accounts/includes/navigation-fullscreen.html'%}

 {% block content %}

    {% endblock content %}